<%= form_for(@message_keyword) do |f| %>
  <% if @message_keyword.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message_keyword.errors.count, "error") %> prohibited this message_keyword from being saved:</h2>

      <ul>
      <% @message_keyword.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h3>
        h3. 这是一套可视化布局系统.
      </h3>
      <%= form_for(@message_keyword) do |f| %>
        <fieldset>
           <legend>表单项</legend> <label>表签名</label>
           <input type="text" /> <span class="help-block">这里填写帮助信息.</span> 
           <label class="checkbox"><input type="checkbox" /> 勾选同意</label> 
            <%= f.submit %>
        </fieldset>
      <% end %>
       <button class="btn btn-link" type="button">按钮</button>
    </div>
  </div>
</div>