<div class="well">
  <h3>关键字列表</h3>
</div>
<div>
<form action="/message_keywords" method="get">
  <input type="input" name="key" /> 
  <input type="submit" value="查询" class="btn" />  </form>
</div>
<%= link_to '新建关键字', new_message_keyword_path, :class => "btn btn-primar" %>
<table class="table table-striped">
  <thead>
    <tr>
    <th>关键字</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @message_keywords.each do |message_keyword| %>
  <tr>
    <td><%=message_keyword.content %></td>
    <td><%= link_to 'Show', message_keyword %></td>
    <td><%= link_to 'Edit', edit_message_keyword_path(message_keyword) %></td>
    <td><%= link_to 'Destroy', message_keyword, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<%= paginate @message_keywords %>
