<h1>Listing message_auto_reply_musics</h1>

<table>
  <tr>
    <th>URL</th>
    <th>HQURL</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @message_auto_reply_musics.each do |message_auto_reply_music| %>
  <tr>
    <td><%= message_auto_reply_music.music_url %></td>
    <td><%= message_auto_reply_music.hq_music_url %></td>
    <td><%= link_to 'Show', message_auto_reply_music %></td>
    <td><%= link_to 'Edit', edit_message_auto_reply_music_path(message_auto_reply_music) %></td>
    <td><%= link_to 'Destroy', message_auto_reply_music, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message auto reply music', new_message_auto_reply_music_path %>
