 <xml>
	 <ToUserName><![CDATA[<%= @message.to_user_name %>]]></ToUserName>
	 <FromUserName><![CDATA[<%= @message.from_user_name %>]]></FromUserName>
	 <CreateTime><%= @message.create_time.to_i %></CreateTime>
	 <MsgType><![CDATA[news]]></MsgType>
	 <ArticleCount><%=@message.message_send_news.message_send_news_articles.size %></ArticleCount>
	 <Articles>
	 	<% @message.message_send_news.message_send_news_articles.each do | article | %>
		 <item>
			 <Title><![CDATA[<%= article.title %>]]></Title> 
			 <Description><![CDATA[<%= article.description %>]]></Description>
			 <PicUrl><![CDATA[<%= article.pic_url %>]]></PicUrl>
			 <Url><![CDATA[<%= article.url %>]]></Url>
		 </item>
		<% end %>
	 </Articles>
	 <FuncFlag>1</FuncFlag>
 </xml> 