 <xml>
	 <ToUserName><![CDATA[<%= @message.to_user_name %>]]></ToUserName>
	 <FromUserName><![CDATA[<%= @message.from_user_name %>]]></FromUserName>
	 <CreateTime><%= @message.create_time.to_i %></CreateTime>
	 <MsgType><![CDATA[music]]></MsgType>
	 <Music>
		 <Title><![CDATA[<%= @message.message_send_music.title %>]]></Title>
		 <Description><![CDATA[<%= @message.message_send_music.description %>]]></Description>
		 <MusicUrl><![CDATA[<%= @message.message_send_music.music_url %>]]></MusicUrl>
		 <HQMusicUrl><![CDATA[<%= @message.message_send_music.hq_music_url %>]]></HQMusicUrl>
	 </Music>
	 <FuncFlag>0</FuncFlag>
 </xml>