<div class="row-fluid">
    <div class="span12">
      <%= form_for(@message_auto_reply_news) do |f| %>
        <fieldset>
           <legend>图文消息</legend>
           <label>标题:</label><%= f.text_field :content %>
            <div >
              <label>对应关键字: </label>
                <% @keywords.each do |key| %>
                  <input type="checkbox" name="keywords[]" value="<%=key.id%>" <%= @message_auto_reply_news.message_keywords.pluck(:id).include?(key.id) ? "checked" : "" %> /><%= key.content %> 
                <% end %>
            </div>
    
           <%= f.submit :class => "btn", :value => "保存" %>

        </fieldset>
      <% end %>
    </div>
</div>