
<div class="container">
<div class="well">
  <h3>祝福</h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
    <th>订单号</th>
    <th>内容</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @cards.each do |card| %>
    <tr>
      <td><a href="~/cards/<%=card.order_no%>"><%= card.order_no%></a>
        <%=link_to card.order_no, :id=>card.order_no %></td>
      <td><%= card.content %></td>
    </tr>

  <% end %>
  </tbody>
</table>
<table class="table table-striped">
  <thead>
    <tr>
    <th>订单号</th>
    <th>图片</th>
    <th></th>
  </tr>
  </thead>
  <tbody> 
  <% @card_images.each do |image| %>
    <tr>
      <td><a href="~/cards/<%=image.order_no%>"><%= image.order_no%></a></td>
      <td><a href="<%= image.picture_file_name %>"><%= image.picture_file_name %></a></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
