<div class="well">
  <h3>绑定野兽派用户列表</h3>
</div>
<div>
<form action="/magento_customers" method="get">
  <input type="input" name="key" /> 
  <input type="submit" value="查询" class="btn" />  
</form>
</div>
<table class="table table-hover">
  <thead>
    <tr>
    <th>open_id</th>
    <th>email</th>
    <th>是否解绑</th>
    <th>是否录入中</th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @users.each do |user| %>
  <tr>
    <td><%= user.wechat_user_open_id %></td>
    <td><%= user.email %></td>
    <th><%=raw(user.islocked ? "已解绑" : "正在使用")%></th>
    <th><%=raw(user.isentry ? "是" : "否")%></th>
    <td>  <%= link_to '查看祝福', :action => "index_byuser" ,:controller => "cards",:uid => user.id %>
        <td><%= link_to '解绑', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </td>
  </tr>
<% end %>
</tbody>
</table>
<%= paginate @users %>