<table class="table table-striped">
  <thead>
    <tr>
    <th>发送者</th>
    <th>发送时间</th>
    <th>title</th>
    <th>url</th>
    <th>description</th>
  </tr>
</thead>
<tbody>
<% @message_receive_links.each do |message_receive_link| %>
  <tr>
    <td><%= message_receive_link.from_user_name %></td>
    <td><%= message_receive_link.create_time %></td>
    <td><%= message_receive_link.title %></td>
    <td><%= message_receive_link.url %></td>
    <td><%= message_receive_link.description %></td>
  </tr>
<% end %>
</tbody>
</table>


