
<div class="well">
  <h3>接收信息列表</h3>
</div>
<div class="tabbable" id="tabs-188832">
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#panel-text" data-toggle="tab">文本</a>
		</li>
		<li>
			<a href="#panel-image" data-toggle="tab">图片</a>
		</li>
		<li>
			<a href="#panel-event" data-toggle="tab">事件</a>
		</li>
		<li>
			<a href="#panel-location" data-toggle="tab">位置</a>
		</li>
		<li>
			<a href="#panel-link" data-toggle="tab">链接</a>
		</li>
		<li>
			<a href="#panel-voice" data-toggle="tab">声音</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="panel-text">
			<%= render 'message_receive_text' %>
		</div>
		<div class="tab-pane" id="panel-image">
			<%= render 'message_receive_image' %>
		</div>
		<div class="tab-pane" id="panel-event">
			<%= render 'message_receive_event' %>
		</div>
		<div class="tab-pane" id="panel-location">
			<%= render 'message_receive_location' %>
		</div>
		<div class="tab-pane" id="panel-link">
			<%= render 'message_receive_link' %>
		</div>
		<div class="tab-pane" id="panel-voice">
			<%= render 'message_receive_voice' %>
		</div>
	</div>
</div>










