<div class="well">
  <h3>文章列表</h3>
</div>
<%= link_to '新建文章', new_message_auto_reply_news_article_path, :class => "btn btn-primar" %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Content</th>
      <th>title</th>
      <th>desc</th>
      <th>pic_url</th>
      <th>url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
<tbody>

<% @message_auto_reply_news_articles.each do |message_auto_reply_news_article| %>
  <tr>
    <td><%= message_auto_reply_news_article.title %></td>
    <td><%= message_auto_reply_news_article.description %></td>
    <td><%= message_auto_reply_news_article.pic_url %></td>
    <td><%= message_auto_reply_news_article.url %></td>
    <td><%= link_to 'Show', message_auto_reply_news_article %></td>
    <td><%= link_to 'Edit', edit_message_auto_reply_news_article_path(message_auto_reply_news_article) %></td>
    <td><%= link_to 'Destroy', message_auto_reply_news_article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>
<%= paginate @message_auto_reply_news_articles %>

