<!DOCTYPE html>
<html>
<head>
  <title>野兽派花店微信应用管理</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>  
  <%= csrf_meta_tags %>
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
 
  <script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
 <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 60px;
      }

      /* Custom container */
      .container {
        margin: 0 auto;
        max-width: 1000px;
      }
      .container > hr {
        margin: 60px 0;
      }
      /* Customize the navbar links to be fill the entire space of the .navbar */
      .navbar .navbar-inner {
        padding: 0;
      }
      .navbar .nav {
        margin: 0;
        display: table;
        width: 100%;
      }
      .navbar .nav li {
        display: table-cell;
        width: 1%;
        float: none;
      }
      .navbar .nav li a {
        font-weight: bold;
        text-align: center;
        border-left: 1px solid rgba(255,255,255,.75);
        border-right: 1px solid rgba(0,0,0,.1);
      }
      .navbar .nav li:first-child a {
        border-left: 0;
        border-radius: 3px 0 0 3px;
      }
      .navbar .nav li:last-child a {
        border-right: 0;
        border-radius: 0 3px 3px 0;
      }
    </style>
<body>
	 <div class="container">
    <div class="masthead">
      <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
        <h3 class="muted">TheBeastShop Admin</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li><a href="/message_keywords">关键字</a></li>
                <li><a href="/magento_customers">用户</a></li>
                <li><a href="/cards/index">祝福消息</a></li>
                <li><a href="/message_auto_reply_musics">音乐回复</a></li>
                <li><a href="/message_auto_reply_news">图文回复</a></li>
                <li><a href="/message_auto_reply_news_articles">图文详细</a></li>
                <li><a href="/message_receives">消息日志</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>
<%= yield %>
</div>
</body>
</html>
